body{
    background-image: url("./Images/greyflower.png");
}

img.silly{
    width: 330px; 
    height: 400px;
    text-align: center;
}

nav{
    background-color: #abd7d8;
    color: lightgray
}

.centerBox {
    border: 0.25pc solid #bfd1d2;
    background-color: #bfd1d2;
}

.row1, .row2, .row3, .code{
    padding-top: 100px;
}
#me{
    width:330px;
    height:400px;
    align-items: center;
}
